@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: justify;
}

body {
    display: flex;
    flex-direction: column;
    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: 1fr;*/
    font-family: 'Arial', sans-serif;
    background: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}


.section {
    position: relative;
    width: 100%;
    height: 96vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: column;
}

.section h1 {
    text-align: center;
    font-size: 4rem;
    /*font-family: "Cookie";*/
    font-family: "Poppins", sans-serif;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.9;
    color: black;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

video {
    margin: 0;
    padding: 0;
    width: 100%;
    /*height: 100vh;*/
}

/*.color-overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color: lightsalmon;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    opacity: 0.5;*/
/*}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: black;
}


.searching-table {
    position: relative;
    width: 940px;
    height: 300px;
    background: antiquewhite;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    flex-direction: column;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.search-inputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-fly-types {
    position: relative;
    margin: 30px 20px;
}

.passenger-and-submit {
    position: relative;
    margin: 20px 10px;
    justify-content: space-between;
}

.input-box {
    position: relative;
    width: 250px;
    margin: 20px 20px;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
    /*.input-box input:valid~label,*/
.input-box input:not(:placeholder-shown)~label
{
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.2em;
    line-height: 57px;
}



.error-message {
    position: relative;
    /*width: 44px;*/
    /*height: 950px;*/
    /*color: #3F3F3F;*/
    color: red;
    font-size: 0.875em;
    display: block;
    margin-top: 5px;
    /*animation: antiAminateBg 5s linear infinite;*/
}


button.search {
    width: 20%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    text-align: center;
}



.passenger-selector {
    position: relative;
    display: inline-block;


}

.passenger-details {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    /*width: 220px;*/
}

.passenger-details div {
    margin-bottom: 10px;
}

.passenger-details label {
    display: inline-block;
    width: 120px;
}

.passenger-details div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.passenger-details span {
    padding: 5px;
}

.passenger-details button {
    width: 30px;
    height: 30px;
    text-align: center;
}


@media (max-width: 1221px) {
    video {
        margin: 0;
        padding: 0;
        /*width: 100%;*/
        height: 100vh;
    }
}

@media (max-width: 524px) {
    .searching-table {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .input-box {
        height: 290px;
    }
}