<footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <h4>About</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="./book-flight.html">Book a flight</a></li>
                    <li><a href="#">Carriers</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Terms</h4>
                <ul>
                    <li><a href="assets/pdf-files/A.pdf" target="_blank">Privacy & cookies</a></li>
                    <li><a href="assets/pdf-files/B.pdf" target="_blank">Terms & conditions</a></li>
                    </ul>
            </div>
            <div class="footer-col">
                <h4>Contact</h4>
                <ul>
                    <li><a href="tel:+123456789" id="phoneNumber">+1 23 456 789</a></li>
                    <li><a href="mailto:example@example.com" id="emailAddress">Contact us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<hr/>
<p class="footer-name">&copy; Éva Jungábel</p>


